{% extends "base.html" %}
{% load static %}
{% block content %}
{% include "customerheader.html" %}

<h1 class="product-title">Animal Feed Products</h1>

<div class="product-grid">
    {% for product in products %}
    <div class="product-card">
        <!-- Image -->
        <div class="product-img">
            <img src="{{ product.image.url|default:'/static/default.jpg' }}" alt="{{ product.name }}">
        </div>

        <!-- Details -->
        <div class="product-info">
            <h3>{{ product.name }}</h3>
            <p><b>Price:</b> ₹{{ product.price }}</p>
            <p><b>Stock:</b> {{ product.stock }}</p>

            <a href="{% url 'add_to_cart' product.id %}" class="btn-add">
                Add to Cart
            </a>
        </div>
    </div>
    {% empty %}
        <p class="no-products">No Animal Feed products available.</p>
    {% endfor %}
</div>


{% endblock %}
