{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dangi Traders - Quality Agro Products at Your Doorstep</title>
    <meta name="description" content="Your trusted partner for grocery items, fertilizers, animal feed, and storage bags. Serving the agricultural community for over 30 years.">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/loginpage.css' %}">
    <link rel="stylesheet" href="{% static 'css/signuppage.css' %}">
    <link rel="stylesheet" href="{% static 'css/aboutpage.css' %}">
    <link rel="stylesheet" href="{% static 'css/allproducts.css' %}">
    <link rel="stylesheet" href="{% static 'css/animalfeed.css' %}">
    <link rel="stylesheet" href="{% static 'css/fertilizers.css' %}">
    <link rel="stylesheet" href="{% static 'css/groceryitems.css' %}">
    <link rel="stylesheet" href="{% static 'css/storagebags.css' %}">
    <link rel="stylesheet" href="{% static 'css/card.css' %}">
    <link rel="stylesheet" href="{% static 'css/cheakoutpage.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    <link rel="stylesheet" href="{% static 'css/customer_home.css' %}">
    <link rel="stylesheet" href="{% static 'css/customer_order.css' %}">
    <link rel="stylesheet" href="{% static 'css/customeredit.css' %}">
    <link rel="stylesheet" href="{% static 'css/customer_header.css' %}">
    <link rel="stylesheet" href="{% static 'css/customer_profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/shopkeepr_page.css' %}">
    <link rel="stylesheet" href="{% static 'css/add_product.css' %}">
    <link rel="stylesheet" href="{% static 'css/delete_product.css' %}">
    <link rel="stylesheet" href="{% static 'css/edit_product.css' %}">
    <link rel="stylesheet" href="{% static 'css/customer_footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/order_success.css' %}">
    <link rel="stylesheet" href="{% static 'css/upi_payment.css' %}">
    <link rel="stylesheet" href="{% static 'css/pyment_sucesse.css' %}">

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
    <body>
        
    {% block content %}
         {% include "header.html" %}
         {% include "index.html" %}
         {% include "footerbefore.html" %}
        

    {% endblock %}
     


    
    </body>
</html>