{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include "header.html" %}

<div class="login-container">
    <div class="login-card">
        <h2>Login</h2>

        {% if messages %}
            {% for message in messages %}
                <p class="error-message">{{ message }}</p>
            {% endfor %}
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Enter Username" required>
            <input type="password" name="password" placeholder="Enter Password" required>
            <button type="submit">Login</button>
        </form>

        <p class="signup-link">
            Don't have an account? 
            <a href="{% url 'signup' %}">Sign Up</a>
        </p>
    </div>
</div>

{% include "footer.html" %}

{% endblock %}