{% extends "base.html" %}
{% load static %}
{% block content %}
{% include "customerheader.html" %}

<h1 style="text-align:center; margin:20px 0;">{{ title }}</h1>

<div class="product-grid">
    {% for product in products %}
        <div class="product-card">
            <img src="{{ product.image.url|default:'/static/default.jpg' }}" 
                 alt="{{ product.name }}">
            <h3>{{ product.name }}</h3>
            <p><b>Category:</b> {{ product.category }}</p>
            <p><b>Price:</b> ₹{{ product.price }}</p>
            <p><b>Stock:</b> {{ product.stock }}</p>
            <a href="{% url 'add_to_cart' product.id %}" class="btn-add">Add to Cart</a>
        </div>
    {% empty %}
        <p style="text-align:center;">No products available.</p>
    {% endfor %}
</div>

  {% include "footer.html" %}
{% endblock %}