{% extends "base.html" %}
{% load static %}
{% block content %}
{% include "customerheader.html" %}

<h1 style="text-align:center; margin:20px 0;">Fertilizers Products</h1>

<div class="products-container">
    {% for product in products %}
        <div class="product-card">
            <img src="{{ product.image.url|default:'/static/default.jpg' }}" 
                 alt="{{ product.name }}">
            <h3>{{ product.name }}</h3>
            <p><b>Price:</b> ₹{{ product.price }}</p>
            <p><b>Stock:</b> {{ product.stock }}</p>
            
            <a href="{% url 'add_to_cart' product.id %}" class="cart-btn">
                Add to Cart
            </a>
        </div>
    {% empty %}
        <p style="text-align:center;">No fertilizers available.</p>
    {% endfor %}
</div>


{% endblock %}
