{% extends "base.html" %}
{% load static %}
{% block content %}
{% include "customerheader.html" %}

    <h1 style="text-align:center; margin:20px 0;">{{ title }}</h1>

    <div class="products-container">
        {% for product in products %}
            <div class="product-card">
                <img src="{{ product.image.url|default:'/static/default.jpg' }}" 
                    alt="{{ product.name }}">
                <h3>{{ product.name }}</h3>
                <p><b>Price:</b> ₹{{ product.price }}</p>
                <p><b>Description:</b> {{ product.description|truncatewords:10 }}</p>

                

                <a href="{% url 'add_to_cart' product.id %}" class="cart-btn">
                    Add to Cart
                </a>
            </div>
        {% empty %}
            <p style="text-align:center;">No products available in this category.</p>
        {% endfor %}
    </div>

   

{% endblock %}
