{% extends "base.html" %}
{% load static %}
{% block content %}
{% include "customerheader.html" %}

<h1 class="page-heading">Storage Bags Products</h1>



<div class="products-container">
    {% for product in products %}
        <div class="product-card">
            <img src="{{ product.image.url|default:'/static/default.jpg' }}" 
                 alt="{{ product.name }}">
            
            <h3>{{ product.name }}</h3>
            <p><b>Price:</b> ₹{{ product.price }}</p>
            <p><b>Stock:</b> {{ product.stock }}</p>
            
            <a href="{% url 'add_to_cart' product.id %}" class="add-to-cart-btn">
                Add to Cart
            </a>
        </div>
    {% empty %}
        <p style="text-align:center; font-size:18px; margin-top:20px;">No storage bags available.</p>
    {% endfor %}
</div>

{% endblock %}
